#language{
    display: inline-block;
    position: relative;
    width: 220px;
}

#language>p{
    display: inline-block;
    margin-right: 10px;
    vertical-align: sub;
}
#language ul.language{
	        margin-left: 110px!important;
			position: absolute;
}

#language ul.language li{
	background-color:  rgba(255, 255, 255, 0)!important;
	padding: 0!important;
}



.share-new { 
     display: inline-block;
    margin-top: 4px;
    vertical-align: top;
          
}

#linkJS{
	margin-top: 15px;
    text-align: right;
}


      .share-new a {border-bottom:none; display:inline-block; width: 32px; height: 32px; margin: 0 7px 0 0; opacity: 0.8; 
        -moz-transition: all 0.2s 0.01s ease-in;
        -o-transition: all 0.2s 0.01s ease-in;
        -webkit-transition: all 0.2s 0.01s ease-in;}
      .share-new a:hover { opacity: 1.0; }
      
      .share-new .icon-facebook { 

                 background: url(images/facebook-variation.png) 0 center no-repeat; 
                 padding:4px 0px 0px 0px;
                 font-size:17px;
                 
}
      .share-new .icon-twitter { 
                 background: url(images/twitter-variation.png) 0 center no-repeat; 
                 padding:4px 0px 0px 0px;
                 font-size:17px;
                 
       
}

      .share-new .icon-Google { 
                 background: url(images/gplus-variation.png) 0 center no-repeat; 
                 padding:4px 0px 0px 0px;
                 font-size:17px;
                 
       
}

.share-new .icon-rss { 
                 background: url(images/rss-variation.png) 0 center no-repeat; 
                 padding:4px 0px 0px 0px;
                 font-size:17px;
                 
       
}

.share-new .icon-vk { 
                 background: url(images/vk-icon.png) 0 center no-repeat; 
                 padding:4px 0px 0px 0px;
                 font-size:17px;
                 
       
}

.share-new .icon-mail { 
                 background: url(images/email-variation.png) 0 center no-repeat; 
                 padding:4px 0px 0px 0px;
                 font-size:17px;
                 

}

#pusto{
	    height: 500px;
  background-color: #fff;
}

#partners ul li{
display: inline-block;
    list-style: none;
    vertical-align: top;
	    margin-right: 5px;
}

#partners ul li img{
	    height: 70px;
}

.article li {
    width: 515px;
}

#head {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    background: #fff;
    z-index: 1000;
}

#main {
    padding-top: 159px;
}

@media (max-width: 575px) {
    #main {
        padding-top: 180px;
    }
}

#toup {
    position: fixed;
    right: 70px;
    bottom: 200px;
    width: 50px;
    height: 50px;
    background: url("../img/up.png") 50% 50% #fff no-repeat;
    cursor: pointer;
    border-radius: 7px;
    display: none;
    transition: 0.2s;
    z-index: 10000;
}

@media (max-width: 768px) {
    #toup {
        right: 20px;
        bottom: 40px;
        width: 40px;
        height: 40px;
        background-size: cover;
    }
}

html, body {
    height: auto;
}

.equipment .gridr {
    width: calc(100% - 335px);
}

.eblock .info {
    width: calc(100% - 237px);
}

#scroll-content {
    display: flex;
    height: auto !important;
}

#scroll-content .left, #scroll-content .right {
    display: block;
}

#scroll-content .left {
    flex: none;
}

#scroll-content .right {
    flex: none;
    max-width: calc(100% - 250px);
}

@media (max-width: 1076px) {
    #scroll-content .right {
        max-width: none;
    }
}

.nodes {
    max-width: 100%;
}

.slider2 .image{
    width: 217px;
    height: 154px;
    padding: 8px;
    margin-bottom: 15px;
    background: url(../img/slide-bg.png) center center no-repeat;
    background-size: cover;
}

.slider2 {
    list-style: none;
    margin-bottom: 50px;
}

.slider2 .slick-slide img {
    display: inline-block;
}

.slider2 .slick-slide {
    margin-right: 20px;
}

.slider2 .image {
    width: 100%;
    box-sizing: border-box;
}

.btn-more2 {
    display: block;
}

.slider2 .info {
    padding: 0;
}

.slider2 .info a, .slider2 .info p {
    padding: 0 5px;
}

.nodes:nth-of-type(even) .slider2 .slick-track {
    margin-right: 50px;
}

.nodes:nth-of-type(odd) .slider2 .slick-track {
    margin-left: -50px;
}

.nodes:nth-of-type(even) .slider2 li {
    direction: ltr;
    text-align: left;
}

.slider2 .slick-prev, .slider2 .slick-next {
    width: 23px;
    height: 32px;
    z-index: 20;
    top: 36%;
}

.slider2 .slick-prev:before,.slider2  .slick-next:before {
    display: none;
}

.slider2 .slick-prev {
    background: url(../img/navigation.png) left bottom no-repeat;
    left: -40px;
}

@media (max-width: 1076px) {
    .slider2 .slick-prev {
        left: 15px;
    }
}

.slider2 .slick-prev:hover {
    background-position: 0 0;
}

.slider2 .slick-next {
    background: url(../img/navigation.png) right bottom no-repeat;
    right: -40px;
}

@media (max-width: 1076px) {
    .slider2 .slick-next {
        right: 15px;
    }
}

.slider2 .slick-next:hover {
    background: url(../img/navigation.png) right top no-repeat;
}